@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --background-primary: #DAB5AF;
  --background-secondary: #D2CEE9;
  --text: #1f2403;
}

*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  /*  margin-right: auto;
  margin-left: auto; */
  background-color: var(--background-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
