header {
  display: flex;
  justify-content: center;
  /* margin-top: 4rem; */
  background-color: var(--background-primary);
  padding: 4rem 1.5rem;
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.katka--article {
  padding: 2rem;
}

.han--article {
  padding: 2rem;
}

.names {
  color: #1F06AC;
}

.subheading {
  color: #1F06AC;
}

main {
  background-color: var(--background-primary);
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.article {
  background-color: var(--background-secondary);
  width: 80%;
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
}

footer {
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.logo {
  width: 15rem;
  height: 15rem;
  background-image: url(./img/foto1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
